*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
}
.calender{
    background-color: #111111;
    color: white;
    width: 500px;
    /* height: 50vh; */
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 30px #222222;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.btn{
    cursor: pointer;
}
.weekdays, .days{
    display:flex;
    flex-wrap: wrap;
}

.days{
    height:240px;
}
.weekdays div, .days div{
    width:14%;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}

.days div{
    cursor: pointer;
}
.days div:hover{
    background-color: white;
    color: orangered;
}
.days .today{
    background-color: orangered;
    color: white;
}
.days .fade{
    color: #555;
}