*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins';
}
body{
    min-height: 100vh;
    background: linear-gradient(135deg, #7762d4, #66a6ff);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    background-color:rgba(255, 255, 255, 0.2);
    margin:auto;
    border-radius: 10px;
    padding:10px;
    /* min-height:  50vh; */
    align-items: center;
    /* width: 50vw; */
}
p{
    white-space: pre;
}
.timer{
    margin-bottom: 50px;
}
.timer span{
    font-size: 70px;
    font-weight: bold;
    color: white;
    margin:5px;
    position: relative;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding:0px 20px 0px;
}
.timer span::after{
    font-size: 25px;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    color: black;

}
#days::after{
    content:'Days';
}
#hrs::after{
    content: 'Hours';
}
#mins::after{
    content: 'Minutes';
}
#secs::after{
    content: 'Seconds';
}

#middle{
    border-style: none;
    padding: 0px;
}

h1{
    font-size: 50px;
}

button{
    margin: 20px;
    padding: 10px 20px 10px;
    border-style: none;
    border-radius: 10px;
    font-size: 25px;
    color: white;
    cursor: pointer;
}
.startButton{
    background-color: green;
}
.resetButton{
    background-color: blue;
}
button:hover{
    background-color: #dbc172; /* Highlight color */
    /* transition: background-color 0.1s ease; */
}
button:active{
    background-color: #634c0a; /* Highlight color */
    transition: background-color 0.1s ease;
}
label{
    font-size: 25px;
    margin: 20px;
}
input{
    font-size: 25px;
    margin: 20px;
}
